<div class="row">
  <div class="col-xs-2"><br><br><br><br><br><br>
    <!--カテゴリー-->
    <div class="category2">
      <table class="table table-bordered genre-table">
        <thead>
          <tr>
            <th>カテゴリー検索</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td>
                <%= link_to category.name, search_path('search[value]': category.id, 'search[how]': "match") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!--カテゴリー-->
    </div>
  </div>

  <!--新着記事-->
  <div class="col-xs-9">
    <section>
      <table class="table"><br><br><br><br>
        <thead>
          <tr>
            <th class="title2">新着記事</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
    		    <td>
      		    <%= link_to customers_article_path(article.id) do %>
                <%= attachment_image_tag article, :image, size: "340x295" %>
              <% end %><br>
      		    <div class="title1"><%= article.title %></div>
            </td>
          <% end %>
        <tbody>
      </table>
    </section>
    <div class="name-search">
      <% if customer_signed_in? %>
        <h5 class="name22">気になるキーワードで検索</h5>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field 'search[value]', size: "26x5" %><br>
            <span class="search-button col-xs-3 text-right">
              <%= f.select 'search[how]', options_for_select({ "部分一致" => "partical", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "match" }) %>
              <%= f.submit :"検索" %>
            </span>
          <% end %>
      <% end %>
    </div>
    <!--新着記事-->

    <!--Wedding Article一覧-->
    <section>
      <table class="table"><br><br><br><br><br><br>
        <thead>
          <tr>
            <th class="title2">Wedding Article一覧</th>
          </tr>
        </thead>
        <tbody class="font1">
          <% @article.each do |article| %>
            <tr>
      		    <td>
        		    <%= link_to customers_article_path(article.id) do %>
                  <%= attachment_image_tag article, :image, size: "185x120" %><br>
                <% end %>
              </td>
        		  <td><%= article.title %></td>
        		  <td><%= article.introduction %></td>
        		  <% if customer_signed_in? %>
          		  <td class="favorite-btn">
    				      <div id="favorite-<%= article.id %>">
    				    	<%= render 'customers/favorites/favorites', article: article %>
    				      </div>
    				    </td>
    					  <td>
      						<ul class="inline-meta">
                    <%= link_to "コメント数: #{article.comments.count} ", customers_article_path(article) %>
                  </ul>
    					  </td>
  					  <% end %>
            </tr>
          <% end %>
        <tbody>
      </table>
    </section>
    <!--Wedding Article一覧-->
  </div>
</div><br>