<div class="main-visual">
  <div class="main-visual-content"><br><br><br><br>
    <h3><strong>ようこそ！Corona de Happy Weddingへ</strong></h3><br>
    <p class="p1">こちらのＥＣサイトは結婚式に関連する記事を投稿し、閲覧することが出来ます。</p><br>
    <p class="p1">※もちろん、投稿されていない方でもご自由にご覧頂けます。</p><br>
    <p class="p1">現状、コロナ禍での結婚式を挙げる新郎新婦様が多くいらっしゃるかと思います。</p><br>
    <p class="p1">今までの通常の結婚式が出来なくて、諦めている方も多々いらっしゃるかと存じますので、</p><br>
    <p class="p1">少しでも結婚式の魅力や、コロナ禍ならではの結婚式を知って頂くことにより、後悔のない選択をして頂けると嬉しく存じます。</p><br>
    <p class="p1">お役立ち情報も掲載しておりますので、お気軽にご高覧下さいませ。</p></div><br>
  </div>
</div>

<!--記事検索-->
<div class="row">
  <div class="col-xs-2">
    <div class="category1">
      <div class="title-search"><br><br>
        <% if customer_signed_in? %>
          <h5　class="title1">検索</h5>
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field 'search[value]', size: "20x4" %><br>
              <span class="search-button col-xs-12 text-right">
                <%= f.select 'search[how]', options_for_select({ "部分一致" => "partical", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "match" }) %>
                <%= f.submit :"検索" %>
              </span>
            <% end %>
        <% end %>
      </div><br>
      <!--記事検索-->

      <!--カテゴリー検索-->
      <table class="table table-bordered genre-table"><br>
        <thead>
          <tr>
            <th>カテゴリー検索</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= link_to category.name, search_path('search[value]': category.id, 'search[how]': "match") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!--カテゴリー検索-->

    </div>
  </div>

  <!--人気の記事一覧-->
  <div class="col-xs-5">
    <section>
      <table class="table"><br><br>
        <thead>
          <tr>
            <h1>人気のＷeddingＡrticle</h1>
          </tr>
        </thead>
        <tbody>
          <% @article_rannkings.each do |article| %>
            <tr>
        		  <td><%= article.title %></td>
            </tr>
          <% end %>
        <tbody>
      </table>
    </section>
  </div>
    <%#= link_to "もっと見る>", article_path %>
    <!--人気の記事一覧-->

    <!--おすすめ、記事ランキング-->
    <div class="col-xs-9">
      <section>
        <table class="table">
          <thead>
            <tr>
              <h4>おすすめランキング</h4>
            </tr>
          </thead>
          <tbody class="font1">
            <% @article_rannkings.each do |article| %>
              <tr>
                <td>
          		    <%= link_to customers_article_path(article.id) do %>
                    <%= attachment_image_tag article, :image, size: "210x130" %><br>
                  <% end %>
                </td>
        		    <td><%= article.title %></td>
        		    <td><%= article.introduction %></td>
              </tr>
            <% end %>
          <tbody>
        </table>
      </section>
    </div>
    <!--おすすめ、記事ランキング-->
</div>