<div class="row">
  <div class="col-xs-offset-1 col-xs-11"><br><br><br><br>

    <h2>カテゴリー一覧・追加</h2><br><br>
    <%= form_for @category, :url => {:action => :create} do |f| %>
      <%= render "admins/categories/error_messages", category: @category %>
        <div class="col-xs-offset-1">
          <i class="fas fa-candy-cane"></i>
          <%= f.text_field :name  %>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "無効", {value: :false, style: "display: inline-block;"} %>
          <%= f.submit "追加", class: "btn btn-info" %>
        </div>
    <% end %>
    <br>
    <div class="col-xs-8 col-xs-offset-2">
      <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr class="info">
            <th>カテゴリー</th>
            <th>状態</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td class="text-left"><%= category.name%></td>
              <% if category.is_active == true %>
                <td class="genre-td"><i class="fas fa-bullseye red"></i>有効</td>
              <% elsif category.is_active == false %>
                <td class="genre-td"><i class="fas fa-bullseye blue"></i>無効</td>
              <% end %>
              <td class="genre-td"><%= link_to "編集する", edit_admins_category_path(category), class: " btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>