<div class="container">
  <div><%= attachment_image_tag(customer, :profile_image, :fill, 100, 100 ) %></div>
  <div><%= customer.last_name %><%= customer.first_name %>さん</div>
  <div><%= customer.email %></div>
	<div><%= link_to "編集", edit_customers_customer_path(customer.id) %></div>
</div>